# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/server/IShapesClb/bin/Debug/net9.0/IShapesClb.dll
/server/IShapesClb/bin/Debug/net9.0/IShapesClb.pdb
/server/IShapesClb/bin/Release/net9.0/IShapesClb.deps.json
/server/IShapesClb/bin/Release/net9.0/IShapesClb.dll
/server/IShapesClb/bin/Release/net9.0/IShapesClb.pdb
/server/IShapesClb/obj/Debug/net9.0/IShapesClb.AssemblyInfoInputs.cache
/server/IShapesClb/obj/Debug/net9.0/IShapesClb.dll
/server/IShapesClb/obj/Debug/net9.0/IShapesClb.pdb
/server/IShapesClb/obj/Debug/net9.0/ref/IShapesClb.dll
/server/IShapesClb/obj/Debug/net9.0/refint/IShapesClb.dll
/server/IShapesClb/obj/Release/net9.0/IShapesClb.AssemblyInfoInputs.cache
/server/IShapesClb/obj/Release/net9.0/IShapesClb.assets.cache
/server/IShapesClb/obj/Release/net9.0/IShapesClb.csproj.CoreCompileInputs.cache
/server/IShapesClb/obj/Release/net9.0/IShapesClb.csproj.FileListAbsolute.txt
/server/IShapesClb/obj/Release/net9.0/IShapesClb.dll
/server/IShapesClb/obj/Release/net9.0/IShapesClb.GeneratedMSBuildEditorConfig.editorconfig
/server/IShapesClb/obj/Release/net9.0/IShapesClb.pdb
/server/IShapesClb/obj/Release/net9.0/ref/IShapesClb.dll
/server/IShapesClb/obj/Release/net9.0/refint/IShapesClb.dll
/server/Shapes/bin/Debug/net9.0/IShapesClb.dll
/server/Shapes/bin/Debug/net9.0/IShapesClb.pdb
/server/Shapes/bin/Debug/net9.0/Shapes.dll
/server/Shapes/bin/Debug/net9.0/Shapes.exe
/server/Shapes/bin/Debug/net9.0/Shapes.pdb
/server/Shapes/bin/Debug/net9.0/Shapes.staticwebassets.endpoints.json
/server/Shapes/bin/Debug/net9.0/Shapes.staticwebassets.runtime.json
/server/Shapes/bin/Debug/net9.0/ShapesClb.dll
/server/Shapes/bin/Debug/net9.0/ShapesClb.pdb
/server/Shapes/bin/Release/net9.0/IShapesClb.dll
/server/Shapes/bin/Release/net9.0/IShapesClb.pdb
/server/Shapes/bin/Release/net9.0/Microsoft.AspNetCore.OpenApi.dll
/server/Shapes/bin/Release/net9.0/Microsoft.OpenApi.dll
/server/Shapes/bin/Release/net9.0/Newtonsoft.Json.dll
/server/Shapes/bin/Release/net9.0/Shapes.deps.json
/server/Shapes/bin/Release/net9.0/Shapes.dll
/server/Shapes/bin/Release/net9.0/Shapes.exe
/server/Shapes/bin/Release/net9.0/Shapes.json
/server/Shapes/bin/Release/net9.0/Shapes.pdb
/server/Shapes/bin/Release/net9.0/Shapes.runtimeconfig.json
/server/Shapes/bin/Release/net9.0/Shapes.staticwebassets.endpoints.json
/server/Shapes/bin/Release/net9.0/Shapes.staticwebassets.runtime.json
/server/Shapes/bin/Release/net9.0/ShapesClb.dll
/server/Shapes/bin/Release/net9.0/ShapesClb.pdb
/server/Shapes/obj/Debug/net9.0/rbcswa.dswa.cache.json
/server/Shapes/obj/Debug/net9.0/rjimswa.dswa.cache.json
/server/Shapes/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/server/Shapes/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/server/Shapes/obj/Debug/net9.0/rpswa.dswa.cache.json
/server/Shapes/obj/Debug/net9.0/Shapes.AssemblyInfoInputs.cache
/server/Shapes/obj/Debug/net9.0/Shapes.csproj.AssemblyReference.cache
/server/Shapes/obj/Debug/net9.0/Shapes.csproj.FileListAbsolute.txt
/server/Shapes/obj/Debug/net9.0/Shapes.dll
/server/Shapes/obj/Debug/net9.0/Shapes.pdb
/server/Shapes/obj/Debug/net9.0/Shapes.sourcelink.json
/server/Shapes/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/server/Shapes/obj/Debug/net9.0/staticwebassets.build.json
/server/Shapes/obj/Debug/net9.0/staticwebassets.build.json.cache
/server/Shapes/obj/Debug/net9.0/staticwebassets.development.json
/server/Shapes/obj/Debug/net9.0/staticwebassets.removed.txt
/server/Shapes/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/server/Shapes/obj/Release/net9.0/PubTmp/Out/IShapesClb.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/IShapesClb.pdb
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Microsoft.AspNetCore.OpenApi.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Microsoft.OpenApi.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Newtonsoft.Json.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Shapes.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Shapes.exe
/server/Shapes/obj/Release/net9.0/PubTmp/Out/Shapes.pdb
/server/Shapes/obj/Release/net9.0/PubTmp/Out/ShapesClb.dll
/server/Shapes/obj/Release/net9.0/PubTmp/Out/ShapesClb.pdb
/server/Shapes/obj/Release/net9.0/ref/Shapes.dll
/server/Shapes/obj/Release/net9.0/refint/Shapes.dll
/server/Shapes/obj/Release/net9.0/apphost.exe
/server/Shapes/obj/Release/net9.0/PublishOutputs.ae54f0cc24.txt
/server/Shapes/obj/Release/net9.0/rbcswa.dswa.cache.json
/server/Shapes/obj/Release/net9.0/rjimswa.dswa.cache.json
/server/Shapes/obj/Release/net9.0/rjsmcshtml.dswa.cache.json
/server/Shapes/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/server/Shapes/obj/Release/net9.0/rpswa.dswa.cache.json
