.maincontent {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
header {
  grid-row: 1;
}

article {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

body {
  margin: 0;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 600px) {
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }